@import url(https://fonts.googleapis.com/css?family=Oswald:300);
@import url(https://fonts.googleapis.com/css?family=Old+Standard+TT);

body {
    color: black;
    font-size: 14px;
    margin: 0px auto 0px auto;
    width: 600px;
    font-family: 'Old Standard TT', serif;
}

a {
    color: #4F4F4F;
}

a:hover {
    color: #9F9F9F;
}

div#header {
    border-bottom: 2px solid black;
    padding: 12px 0px 12px 0px;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 24px;
    font-family: 'Oswald', sans-serif;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

div#section {
    border-top: solid 1px black;
    padding: 12px 0px 12px 0px;
}

div#first {
    padding: 12px 0px 12px 0px;
}

div#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 30px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

h1 {
    font-size: 24px; 
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h1#name {
    font-weight: bold;
}

h2 {
    font-size: 18px;   
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h3 {
    font-weight: normal;
}

li {
    margin-bottom: 6px;
}
